language: python

python:
  - "3.4"
  - "3.3"
  - "2.7"

env:
  - DJANGO="django==1.7.1"
  - DJANGO="django==1.6.3"
  - DJANGO="django==1.5.7"
  - DJANGO="django==1.4.12"
  - DJANGO="django==1.8"

matrix:
  exclude:
    - python: "3.3"
      env: DJANGO="django==1.4.12"
    - python: "3.4"
      env: DJANGO="django==1.4.12"

install:
  - pip install $DJANGO --use-mirrors
  - pip install -r requirements.txt --use-mirrors

script:
  - py.test --pep8

notifications:
  email:
    recipients:
      - cheisel@kabbage.com
    on_success: change
    on_failure: change
