django-redis==3.8.3
Django==1.8

py==1.4.26
pytest==2.7.0
pytest-django==2.8.0
pytest-cache==1.0
pytest-pep8==1.0.6
execnet==1.3.0
pep8==1.6.2
pretend==1.0.8

cov-core==1.15.0
coverage==3.7.1
pytest-cov==1.8.1
